// Specific CSS for your home-page
.banner-home {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
                     image-url('Entrada-NF-689x420.png');
  background-size: cover;
  color: rgb(2, 74, 102);
  text-shadow: 2px 2px 4px rgb(249, 251, 252);
  background-repeat: no-repeat;
  height: 70vh;
}

.banner-home a {
  color: rgb(1, 42, 68);
}

span {
  text-decoration: underline;
}
