// Specific CSS for your home-page
.banner-home {

//   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)),
//                      image-url('nfe2.png');
//   background-size: cover;
//   color: darkgreen;
//   text-shadow: 1px 1px 2px whitesmoke;
//   background-repeat: no-repeat;
height: 70vh;
}

.banner-home a {
  color: rgb(1, 42, 68);
}

span {
  text-decoration: underline;
}
