<table id="mainTable" class="table table-bordered mt-3" style="border-collapse:collapse;">
  <thead>
    <tr>
      <th>Data do Pedido</th>
      <th>Periodo Inicial</th>
      <th>Periodo Final</th>
      <!-- Situações possíveis: 'pendente', 'disponível' e 'concluída' -->
      <th >Situação</th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.where(user_id: current_user.id).each do |pedido| %>
      <tr>
        <td><%= pedido.data_pedido.strftime('%d/%m/%Y') %></td>
        <td><%= pedido.periodo_inicial %></td>
        <td><%= pedido.periodo_final %>
        <td><%= pedido.situacao %>
      </tr>
    <% end %>
  </tbody>
</table>
