<% if @pedidos[0].nil?  %>
  <h4>Se quiser, vocẽ pode fazer seu <strong>primeiro pedido<strong> de acesso às notas fiscais: </h4>
<% elsif !@pedidos.where(situacao: 'pendente')[0].nil? %>
  <h4> Há os pedidos pendentes listados abaixo mas, se quiser, pode solicitar mais um período: </h4>
  <%= render "pedido", pedidos: @pedidos %>
<% else %>
  <h4>Você <strong>não</strong> possui pedidos de notas pendentes, mas pode solicitar abaixo:
  <%= render "pedido", pedidos: @pedidos %>
<% end %>
<%= render "form", pedido: @pedido %>
