<div class="container">
  <div class="row d-flex align-items-center align-self-center">
    <div class="col-md-4 mt-3 col-sm-12">
      <h2 class='mb-0'>Novo Pedido</h2>
      <%= render "form", pedido: @pedido %>
    </div>
    <div class="col-md-8 mt-3 col-sm-12">
      <% if @pedidos[0].nil?  %>
        <h4>Se quiser, você pode fazer seu <strong>primeiro pedido<strong> de acesso às notas fiscais: </h4>
      <% elsif !@pedidos[0].nil? %>
        <h4 class="m-0"> Pedidos já solicitados: </h4>
        <%= render "pedido", pedidos: @pedidos %>
      <% else %>
        <%= render "pedido", pedidos: @pedidos %>
      <% end %>
    </div>
  </div>
</div>
