<div class='w-100 h-100'>
<h1>Bem vindo à Nota Fiscal Eletrônica de compra!</h1>
  <p><strong>A Receita Federal vem incrementar as utilidades ofertadas ao cidadão, no sentido de viabilizar pronto acesso a documentos próprios de grande relevância.
  Os serviços já disponibilizados a pessoas físicas são:</p>
  <ol>
  <li>Agendamento;</li>
  <li>e-Processo;</li>
  <li>Meu Imposto de Renda; e</li>
  <li>CPF Digital.</li>
  </ol>
  <p>Esta nova aplicação vem a agregar a gama de serviços úteis ao cidadão, de maneira a atender às seguintes necessidades:</p>
  <ol>
  <li>Garantia de equipamento;</li>
  <li>Controle aduaneiro: comprovar que o produto é nacional ou adquirido no Brasil;</li>
  <li>Litígio sobre propriedade de bem móvel;</li>
  <li>Vícios ocultos; e</li>
  <li>Comprovação de despesas em Livro Caixa.</li>
  </ol>

  <p>No portal da Nota Fiscal Eletrônica (NFe) <a href="http://www.nfe.fazenda.gov.br/">http://www.nfe.fazenda.gov.br/</a>, o cidadão deve conhecer previamente a chave composta de 44 dígitos para acessar o documento.</p>
  <p>Naquele portal, o acesso é protegido contra busca contra robôs, mediante captcha.</p>
  <p>Foram emitidas 30 bilhões de notas até outubro de 2021.</p>
  <p>Não havia ferramenta capaz de o cidadão comum acessar sua NF de interesse.</p></strong>
</div>
