<div class='banner-home px-5'>
  <div class="w-50 p-4">
    <h2>Bem vindo à Nota Fiscal Eletrônica de compra!</h2>
      <p>Esta nova aplicação vem a agregar a gama de serviços úteis ao cidadão, de maneira a atender às seguintes necessidades:</p>
      <ol>
        <li>Garantia de equipamento;</li>
        <li>Controle aduaneiro: comprovar que o produto é nacional ou adquirido no Brasil;</li>
        <li>Litígio sobre propriedade de bem móvel;</li>
        <li>Vícios ocultos; e</li>
        <li>Comprovação de despesas em Livro Caixa.</li>
      </ol>
      <p id="destaque">
        <a href="http://www.nfe.fazenda.gov.br/" target="_blank">No portal da Nota Fiscal Eletrônica (NFe) </a>,
        o cidadão deve conhecer previamente a <strong> chave composta de 44 dígitos </strong> para acessar o documento.
      </p>
      <p>Foram emitidas 30 bilhões de notas até outubro de 2021.</p>
  </div>
</div>
