<div class="template-base">
  <!-- Atalhos de Teclado aqui -->
  <nav id="skip-links">
    <a accesskey="1" href="#main-content">
      Ir para o Conteúdo<strong class="accesskey">1</strong>
    </a>
    <a accesskey="2" href="#navigation">
      Ir para para Navegação<strong class="accesskey">2</strong>
    </a>
    <a accesskey="3" href="#main-searchbox">
      Ir para para Busca<strong class="accesskey">3</strong>
    </a>
  </nav>
  <!-- Header aqui -->
  <header class="br-header" id="header" data-sticky>...</header>
  <!-- Área de conteúdo -->
  <main id="main" class="d-flex flex-fill">
    <!-- Define a largura da página -->
    <div class="container-lg d-flex">
      <div class="row">
        <!-- Menu aqui -->
        <div class="br-menu pt-md-3" id="main-navigation">...</div>
        <!-- Coluna do conteúdo aqui -->
        <div class="col pt-3 pb-5">
          <!-- Breadcrumbs aqui -->
          <div class="br-breadcrumb">...</div>
          <!-- Conteúdo Principal aqui -->
          <div id="main-content" class="main-content pl-sm-3">
            <h1>Pages#home</h1>
            <p>Find me in app/views/pages/home.html.erb</p>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer aqui -->
  <footer id="footer" class="br-footer">...</footer>
</div>
