// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pedidos/form";

// gov.br
@import "@govbr/dsgov/dist/dsgov";

.landing {
  background-image:linear-gradient( rgba(255,255,255,.7) 0%,rgba(105, 94, 207, 0.7) 100%), url("http://placecage.com/200/200");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 200px;
  height: 200px;
}
